# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mypy, coverage
.mypy_cache/
.coverage.*
htmlcov/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
.venv
venv/
env/
.env

# Tests
.pytest_cache/
.coverage

# IPython Notebook
.ipynb_checkpoints/
